html {
  margin: 0px;
}

body {
  margin: 0px
}

a {
  text-decoration: none;
  color: inherit;
}

/* @font-face {
  font-family: 'blade-runner';
  src: url('../../public/fonts/blade_runner_movie_font/BLADRMF_.TTF') format('true-type')
} */
