.nav {
  width: 75px;
  height: 100vh;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  float: left;
  overflow: hidden;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fas {
  font-size: 30px;
  color: cyan;
  position: relative;
  z-index: 1;
}

.fas .fas {
  color: hotpink;
  position: absolute;
  bottom: 1px;
  left: 1px;
  z-index: -1;
}

p {
  color: cyan;
  margin-top: 2.5px;
  margin-bottom: 0px;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

p::before {
  content: attr(data-text);
  color: hotpink;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 1.5px;
  left: 1.5px;
  z-index: -1;
}

hr {
  margin-top: 2.5px;
  margin-bottom: 15px;
  border-bottom: 1px solid cyan;
  border-top: 1px solid hotpink;
}

.icon:hover p {
  color: hotpink;
}

.icon:hover p::before {
  color: cyan;
}

.icon:hover hr {
  border-bottom: 1px solid hotpink;
  border-top: 1px solid cyan;
}

.icon:hover .fas {
  color: hotpink;
}

.icon:hover .fas .fas {
  color: cyan;
}
